<h1>Ajout utilisateurs</h1>
<form action="/user" method="POST">
    Nom : 
    <input type="text" name="lastname" value="" /><br/>
    Prénom :
    <input type="text" name="firstname" value="" /><br/>
    <input type="hidden" name="iduser" value="" />
    <input type="submit" name="save" value="Sauver" /><br/>
    <input type="submit" name="Retour à la liste" formaction="/user" />

</form>